Ensure all required functionality is included in application

Please do work for this task in a branch named issue-006.

As stated in the Event Planner guidelines, required functionality of calendar file include:

• Version (section 3.7.4 of RFC 5545) 
• Classification (3.8.1.3). Note this is a way of users designating events as
public (default), private, or confidential.
• Geographic Position (3.8.1.6)
• Location (3.8.1.7) Note the difference between geo position and location
• Priority (3.8.1.9)
• Summary (3.8.1.12) 
• DTSTART (3.8.2.4) 
• DTEND (3.8.2.2) 
• Time zone identifier (3.8.3.1)
• RSVP (3.2.17)
• Sent-by (3.2.18)
• Resources (3.8.1.10)
• And aspects (your choice) of recurring events (3.8.5)
